# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.cursor
.junie
.claude
.mcp.json

# Local env files
.env
.env.*
!.env.example

# Local Netlify folder
.netlify

# Plans/Guides
plan.md
CLAUDE.md
.output.txt
.mcp.json
