# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.cursor
.junie

# Local env files
.env
.env.*
!.env.example

# Local Netlify folder
.netlify

# Plans/Guides
plan.md
IMPROVEMENT_PLAN.md
AUTHENTICATION_TASKS.md
.output.txt
