@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";

@source "../../../content";
@source "../../../shared";

@layer base {
  #app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .page-container {
    @apply w-full max-w-(--ui-container) mx-auto px-4 sm:px-6 lg:px-8;
  }
}

#exercise-content h2:last-child  {
  @apply hidden;
}
